<h1 class="text-base mb-10 text-slate-700">Marksheet > Check</h1>
<div class="formCon w-1/2 mx-auto flex place-items-center">
	<form class="grid grid-cols-2 gap-4 mt-10" action="/admin/marksheet/history" method="post">
		<div class="flex flex-col">
			<label class="mb-2" for="date">Date</label>
			<input type="date" name="date" />
		</div>
		<div class="block mt-auto justify-end">
			<button class="bg-blue-500 text-white px-4 py-2" type="submit">Check History</button>
		</div>
	</form>
</div>
